*.db
*swp
*.o
*Makefile
Stalker
moc_*
*.mat
*.fig
stalker_matlab/data/*
stalker_matlab/lib/*
*xml
*CMakeCache.txt
*.cmake
*.asv
*CMakeFiles*
*sublime-build
*~
*.loadPara.m
/stalker_v3d/lib/*
/stalker_v3d/test/testdata/*
/stalker_matlab/scripts/loadPara.m
*-out.txt
*.e*
/stalker_matlab/scripts/trainlog.txt
/stalker_matlab/scripts/loadGtPara.m
/stalker_matlab/scripts/loadTrPara.m
/stalker_matlab/scripts/train-nn.pbs
*output.txt
*.v3draw
*.v3dpbd
*.swc
